body {
  margin: 0;
  font-size: 100%;
}

#clock {
  font-size: 6rem;
  font-family: monospace;
  font-weight: 100;
  color: #eee;
  background-color: #888888;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}